:root{
    --text-color:white;
    --bg-color: black;
    --accent-color: #f9ee02;
    --title-font: 'Cormorant', serif;
    --text-font: 'Cormorant', serif;
}
body {
font-family: var(--text-font);
background-color: var(--bg-color);
color: var(--text-color);
}
a {
    color:inherit
    color: var(--accent-color)
}
h1, h2, h3 {
    font-family: var(--title-font);
}