:root{
    --text-color:white;
    --bg-color: black;
    --accent-color: #f9ee02;
    --title-font: 'Cormorant', serif;
    --text-font: 'Cormorant', serif;
}
html{
    font-size: 10px;
}

body {
font-family: var(--text-font);
background-color: var(--bg-color);
color: var(--text-color);
font-size: 1.4rem;

}
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
p, li {
    max-width: 60ch;
}
h1 {
    font-variation-settings:  "wght" 700;
}
h2 {
    font-variation-settings:  "wght" 500;
}
h3 {
    font-variation-settings:  "wght" 400;
}

a {
    color: var(--accent-color)


}